

.light .hero-section {
    position: relative;
    height: 100vh;
    background: url(/light-hero.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content:center;
    align-items:center;
}
  
.dark .hero-section {
    position: relative;
    height: 100vh;
    background: url(/dark-hero.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content:center;
    align-items:center;
}

.profile-one{
    position: absolute;
    top: 15%;
    left: 25%;
}
.profile-two{
    position: absolute;
    top: 26%;
    left: 12%;
}
.profile-three{
    position: absolute;
    top: 55%;
    left: 13%;
}
.profile-four{
    position: absolute;
    top: 80%;
    left: 16%;
}
.profile-eight{
    position: absolute;
    top: 15%;
    right: 25%;
}
.profile-seven{
    position: absolute;
    top: 26%;
    right: 12%;
}
.profile-six{
    position: absolute;
    top: 55%;
    right: 13%;
}
.profile-five{
    position: absolute;
    top: 80%;
    right: 16%;
}
  