

.light .hero-section {
    position: relative;
    height: 100vh;
    background: url(/lightHero.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:center;
}
  
.dark .hero-section {
    position: relative;
    height: 100vh;
    background: url(/hero2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:center;
}
  