.text-gradient {
    background: linear-gradient(to right, #3498db, #d20cb8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Set the text color to transparent */
    font-weight: bold;
  }
  