.bullet-point::before {
    content: "•";  /* Unicode for a bullet point */
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 2em; /* Adjust the font-size as needed for the bullet point size */
    margin-left: -1em;
    margin-right: 0.1em; /* Adjust as needed */
    color: #ffffff; /* Color of the bullet point */
    vertical-align: middle; /* Align the bullet point with the text */
  }