@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@font-face {
  font-family: GilroyBold;
  src: url("/Gilroy-Bold.ttf") format("truetype");
  background-size: cover;
}


.font-Quicksand {
  font-family: "Quicksand", sans-serif !important;
}
h1,
h2 {
  font-family: GilroyBold !important;
}
p {
  margin-top: 0 !important;
}

.light body {
  background: url(/light-bg.jpeg);
  background-size: cover;
}

.dark body {
  background: url(/BG.jpg);
  background-size: cover;
}

.whyUsCard {
  border-radius: 13.021px;
  border: 0.868px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14.757596015930176px);
}

.banner-font{
  font-family: "Quicksand", sans-serif;
}

.banner-text{
  width: 380px;
  font-family: GilroyBold !important;
}

.banner-desc{
  width: 330px;
}

.bullet-point::before {
  content: "•";  /* Unicode for a bullet point */
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 2em; /* Adjust the font-size as needed for the bullet point size */
  margin-left: -1em;
  margin-right: 0.1em; /* Adjust as needed */
  color: #ffffff; /* Color of the bullet point */
  vertical-align: middle; /* Align the bullet point with the text */
}
