@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
  font-family: GilroyBold;
  src: url("/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: GilroyMedium;
  src: url("/Gilroy-Medium.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;



h1,
h2 {
  font-family: 'Poppins', sans-serif !important;
}
p {
  margin-top: 0 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.light body {
  background: url(/light-bg.jpeg);
  background-size: cover;
}

.dark body {
  background: url(/BG.jpg);
  background-size: cover;
}

.whyUsCard {
  border-radius: 13.021px;
  border: 0.868px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14.757596015930176px);
}

/* .banner-font{
  font-family: "Quicksand", sans-serif;
} */

.banner-text{
  width: 70%;
  font-family: GilroyBold !important;
}

.banner-desc{
  width: 330px;
}

.bullet-point-dark, .bullet-point-light{
  position: relative;
  padding-left: 20px; /* Adjust this value based on your preference */
  font-family: 'Quicksand', sans-serif !important;
}

.bullet-point-dark::before {
  content: "\2022";
    position: absolute;
    left: 0;
    color: white;
    font-size: 35px;
    top: -4%;
}

.bullet-point-light::before {
  content: "\2022";
  position: absolute;
  left: 0;
  background: linear-gradient(to right, #3498db, #8e44ad); /* Gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Set text color to transparent */
  font-size: 35px;
  top: -4%;
}

.slick-prev, .slick-next{
  width: 57px!important;
    height: 57px!important;
    z-index: 10;
}

.bullet-text-dark, .bullet-text-light {
  position: relative;
  padding-left: 20px; /* Adjust this value based on your preference */
  margin-bottom: 4px;
  font-family: 'Quicksand', sans-serif !important;
}

.bullet-text-dark::before {
  content: "\2022"; /* Unicode character for a bullet point */
  position: absolute;
  left: 0;
  color: white; /* Adjust the color if needed */
  font-size: 25px;
}

.bullet-text-light::before {
  content: "\2022"; /* Unicode character for a bullet point */
  position: absolute;
  left: 0;
  background: linear-gradient(to right, #3498db, #8e44ad); /* Gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Set text color to transparent */
  font-size: 25px;
}

