.my-div {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .bg-light-gradient {
    
    background: linear-gradient(to right, #3498db, #8e44ad);
  }
  
  .bg-dark-gradient {
    background: white;
  }
  